.scroll-to-top {
  position: fixed;
  bottom: 60px;
  right: -50px;
  transition: all 0.2s;
  background-color: black;
  color: white;
  padding: 12px;
  text-align: center;
  border-radius: 6px;
  width: 2.5rem;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75), -2px -2px 5px 0 rgba(0,0,0,0.75)
}
@media (max-width : 992px) {
  .scroll-to-top {
    bottom: 80px;
  }
}
.scroll-to-top:hover {
  color: white;
  background-color: #c7ab62;
  box-shadow: 2px 2px 5px 0px rgba(199, 171, 98,0.75), -2px -2px 5px 0 rgba(199, 171, 98,0.75);
}
.scroll-to-top.show {
right: 10px;
}